<h1><%= @artist.name %></h1>

<!-- Photos -->
<h4></h4>
<% @artist.photos.each do |photo| %>
  <%= image_tag photo.image.thumbnail %>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<h4>List of Songs</h4>

<% if @artist.songs.any? %>
  <ul>
    <% @artist.songs.each do |song| %>
      <p><%= link_to song.name, artist_song_path(song.artist_id, song.id) %></p>
      <%= link_to "Delete", artist_song_path(@artist.id, song.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary", remote: true %>
    <% end %>
  </ul>
<% else %>
  <p>There are no songs for this artist.</p>
<% end %>
<hr>

<div class="actions">
<%= link_to "All Artists", root_path, class: "btn btn-primary" %>
<%= link_to "New Song", new_artist_song_path(@artist.id), class: "btn btn-primary", remote: true %>
<%= link_to "Delete", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
</div>
