<%= form_for [@artist,@artist.songs.new] do |f| %>

<ul>
   <% @song.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
   <% end %>
 </ul>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :album %>
  <%= f.text_field :album %>

  <%= f.label :year %>
  <%= f.number_field :year %>

  <%= f.label :rating %>
  <%= f.number_field :rating %>

  <!-- <%= f.label :artist_id %>
  <%= f.collection_select(:artist_id, Artist.all, :id, :name) %> -->
  <br>
  <br>
  <div class="actions">
  <%= f.submit (@song.new_record? ? "Add" : "Update"), class: "btn btn-primary" %>
  </div>

<% end %>
