<%= form_for @song do |f| %>

<ul>
   <% @song.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
   <% end %>
 </ul>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :album %>
  <%= f.text_field :album %>

  <%= f.label :year %>
  <%= f.number_field :year %>

  <%= f.label :rating %>
  <%= f.number_field :rating %>

  <%= f.submit (@song.new_record? ? "Create" : "Update") %>

  <%= f.label :artist_id %>
  <%= f.collection_select(:artist_id, Artist.all, :id, :name) %>

<% end %>
