<h1><%= @song.name %></h1>

<p>Name: <%= @song.name %></p>
<p>Album: <%= @song.album %></p>
<p>Year: <%= @song.year %></p>
<p>Rating: <%= @song.rating %></p>

<hr>

<div class="actions">
<%= link_to "All Artists", root_path, class: "btn btn-primary" %>
<%= link_to "Edit", edit_artist_song_path(@song.artist_id,@song.id), class: "btn btn-primary" %>
<%= link_to "Delete", artist_song_path(@song.artist_id, @song.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary", remote: true %>
</div>
