<h1><%= @song.name %></h1>

<p>Name: <%= @song.name %></p>
<p>Album: <%= @song.album %></p>
<p>Year: <%= @song.year %></p>
<p>Rating: <%= @song.rating %></p>

<hr>

<%= link_to "[Edit]", edit_artist_song_path(@song.artist_id,@song.id) %>
<%= link_to "[Delete]", artist_song_path(@song.artist_id, @song.id), method: :delete, data: { confirm: "Are you sure?" } %>
